name: Magneto CI

on:
  push:
    branches: [ "master" ]
jobs:
  build:
    runs-on: ubuntu-latest
    name: 'magento install & push'
    steps:
      - uses: actions/checkout@v2

      - name: 'Install fresh Magento'
        uses: MAD-I-T/magento-actions@3.8
      
        env:
          COMPOSER_AUTH: ${{secrets.COMPOSER_AUTH}}
        with:
          process: 'create project'
          magento_version: 2.4.3
